ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8090

# Database
ConnectionStrings__DefaultConnection=Server=db,1433;Database=VirtualMuseumDB;User ID=sa;Password=VmStrongP@ssw0rd123;TrustServerCertificate=True;Encrypt=False;MultipleActiveResultSets=true;

# JWT
Jwt__Key=VirtualMuseum-SuperSecretKey-ForJwtTokenGeneration-Minimum32Chars!
Jwt__Issuer=VirtualMuseum.API
Jwt__Audience=VirtualMuseum.Client
Jwt__AccessTokenMinutes=60
Jwt__RefreshTokenDays=7

# SMTP
Smtp__Enabled=true
Smtp__SmtpServer=mailpit
Smtp__Port=1025
Smtp__SenderName=Virtual Museum
Smtp__SenderEmail=no-reply@virtualmuseum.local
Smtp__Username=
Smtp__Password=

# CORS
Cors__Origins__0=http://localhost:3000
Cors__Origins__1=http://frontend:3000

# Google Auth
GoogleAuth__ClientId=776962066383-0j5eerrql7fkb7afkidtdufaa8tdi307.apps.googleusercontent.com
